<!DOCTYPE html>

<head>
    <title>GooleTasks API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <style >

        .masthead.segment {
            min-height: 800px;
            padding: 1em 0;
        }

        .masthead h1.ui.header {
            margin-top: 4em;
            margin-bottom: 0;
            font-size: 4em;
            font-weight: normal;
        }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        @media only screen and (max-width: 700px) {

            .masthead.segment {
                min-height: 350px;
            }

            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }
    </style>
</head>

<body>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">

            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a href="/" class="active item">Home</a>
                    {{#if user}}
                    <a href="/tasks-lists" class="item">Tasks Lists</a>
                            Hello {{user.email}}
                    {{/if}}
                    <div class="right item">
                        {{#if user}}
                        <form method="post" action="/logout">
                          <button class="ui inverted red button" type="submit">Logout</button>
                        </form>
                        {{else}}
                        <a href="google-login" class="ui inverted button">
                            <i class="google icon"></i>
                            Login
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="ui text container">
                {{{body}}}
            </div>

        </div>

    </div>

</body>