<!DOCTYPE html>

<head>
    <title>GooleTasks API</title>

</head>

<body>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">

            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a href="/" class="active item">Home</a>
                    {{#if user}}
                    <a href="/tasks-lists" class="item">Tasks Lists</a>
                            Hello {{user.email}}
                    {{/if}}
                    <div class="right item">
                        {{#if user}}
                        <form method="post" action="/logout">
                          <button class="ui inverted red button" type="submit">Logout</button>
                        </form>
                        {{else}}
                        <a href="google-login" class="ui inverted button">
                            <i class="google icon"></i>
                            Login
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="ui text container">
                {{{body}}}
            </div>

        </div>

    </div>

</body>