<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        input[type='radio']:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #d1d3d1;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
        }

        input[type='radio']:checked:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: pink;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
        }

        .center {
            max-height: 800px;
            border-collapse: collapse;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            margin-left: auto;
            margin-right: auto;
        }
        .button {
            background-color: black;
            border: 3px solid pink;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .button {
            background-color: black;
            border: 3px solid pink;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <table class="center">
        <tr>
            <th>Task Name</th>
            <th>Last Update</th>
            <th>Done</th>
            <th>To Do</th>
        </tr>
        {{#each list}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.updated}}</td>
                <td><input type="radio" id="html" name={{this.updated}} value="HTML"></td>
                <td><input type="radio" id="html" name={{this.updated}} value="HTML"></td>
            </tr>
        {{/each}}
    </table>
    <form method="post">
        <input type="text" minlength="0" placeholder="Task title" name="title" required>
        <button type="submit" class = "button">Add Task</button>
    </form>
</body>