<head>
    <style>
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <section>
        <div id= "list_tasks">
            <h2>Your Task list</h2>
            <ul class="check-list">
                {{#each list}}
                    <li>
                        <a href="/tasks-lists/{{@root.listId}}/tasks/{{this.id}}" class = "button">
                            {{this.title}}
                        </a>
                    </li>
                {{/each}}
            </ul>
            <form method="post">
                <input type="text" placeholder="Task title" name="title">
                <button type="submit">Add Task</button>
            </form>
        </div>
    </section>
</body>



