<h1 class="ui inverted header">
    Task
</h1>
<table class="ui celled table">
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Last Update</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Tasks List">
                {{task.title}}
            </td>
            <td data-label="Last Update">
                {{task.updated}}
            </td>
        </tr>
    </tbody>
</table>
</div>