
<head>
    <style>
        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <h1>Task</h1>
    <table class = center>
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{task.title}}
                </td>
                <td>
                    {{task.updated}}
                </td>
            </tr>
        </tbody>
    </table>
</body>